<div class="panel filters-panel" data-role="selection">
    <p><strong>Filters</strong></p>
    {{#each filters}}
        <label>
        {{#eq type "checkbox"}}
        <input type="checkbox" name="toggle-{{@key}}"{{#if display}} checked="checked"{{/if}}> {{label}}
        {{/eq}}
        {{#eq type "dropdown"}}
            {{label}}
            <select name="{{@key}}">
                {{#each options}}
                    <option name="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        {{/eq}}
        {{#eq type "text"}}
            {{label}} <input type="text" name="{{@key}}">
        {{/eq}}
        </label>
    {{/each}}
</div>
<div data-role="tablelist">
 </div>