<h3 class="text-center">Generate records<i class="fi-lightbulb help-button" data-action="toggleHelp"></i></h3>

<div class="panel callout radius"{{#unless displayHelp}} style="display: none;"{{/unless}} data-panel="help">
    This panel allows you to generate records in your instance easily.
</div>
<ul class="button-group round even-3 text-center">
    <li><a data-id="generateAuto" class="button {{#if generateAuto}} active{{/if}}">Auto</a></li>
    <li><a data-id="generateManual" class="button {{#unless generateAuto}} active{{/unless}}">Manual</a></li>
</ul>
<hr>
<div id="generateAuto" class="{{#unless generateAuto}}hide{{/unless}}">
    <label>Choose a module :</label>
    <select name="Module" {{#if useCurrentContext}} disabled="disabled" value="{{../currentModule}}"{{/if}}>
        {{#each modules}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <label>How many records to generate?</label>
    <input type="number" name="numberOfRecords" value="1">
</div>
<div id="generateManual" class="{{#if generateAuto}}hide{{/if}}">
    <input type="checkbox" id="currentContext" {{#if useCurrentContext}} checked{{/if}}>
    <label for="currentContext">Generate in current page</label>

    <label>Choose a module :</label>
    <select name="Module" {{#if useCurrentContext}} disabled="disabled" value="{{../currentModule}}"{{/if}}>
        {{#each modules}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <label>Choose a subpanel :</label>
    <p class="format-help">Possible only if the current page is a record view and
        you checked 'Generate in current page'.</p>
    <select name="Subpanel"{{#unless useCurrentContext}} disabled="disabled"{{/unless}}>
        <option value="">No subpanel</option>
        {{#each subpanels}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <label>How many records to generate?</label>
    <input type="number" name="numberOfRecords" value="1">

    <label>Add your own attributes:</label>
    <p class="format-help">It should be an array of objects. Each object being the
        attributes of a record to be created. It should respect JSON format with double quotes.
        If it's an object instead of an array, it will be use for all the records.
        In this case, adding <strong>*</strong> at the end of an attribute value will increment
        it with the iteration number.</p>
    <textarea name="attributes"></textarea>

    <label>Add options:</label>
    <p class="format-help">It should be an array of objects. Each object being the
        attributes of a record to be created. It should respect JSON format with double quotes.
        If it's an object instead of an array, it will be use for all the records.</p>
    <textarea name="options"></textarea>
</div>
<button type="button" name="submitGenerate">Generate!</button>
