<h3 class="text-center">Measure method time<i class="fi-lightbulb help-button" data-action="toggleHelp"></i></h3>

<div class="panel callout radius"{{#unless displayHelp}} style="display: none;"{{/unless}} data-panel="help">
    This panel allows you to track any method of any sugar component to capture its duration and detect performance lacks.
    Everytime the tracked method is called, it will be logged in the table with its duration.
</div>

<div class="left-block">
    <label>Select a component type:</label>
    <select name="Type">
        {{#each types}}
            <option value="{{type}}"{{#if selected}} selected="selected"{{/if}}>{{type}}</option>
        {{/each}}
    </select>
</div>
<div class="right-block">
    <label>Select the component:</label>
    <select name="Component">
        {{#each components}}
            <option value="{{name}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
    </select>
</div>
<div class="right-block">
    <label>Select the method:</label>
    <select name="Method">
        {{#each methods}}
            <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>
</div>

<div style="float: left; margin-right: 20px;">
    <input id="trackMethod" type="button" value="Track method">
</div>
<div>
    <input id="clearAll" type="button" value="clear results">
</div>
<hr>
<table id="results-table" class="tablesorter">
    <thead>
    <tr>
        <th>
            Field type
        </th>
        <th>
            Total time
        </th>
        <th>
            Average time
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each rows}}
        <tr>
            <td>{{fieldType}}</td>
            <td>{{totalTime}}</td>
            <td>{{averageTime}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>