<ul class="accordion panel-accordion" data-accordion>
    <li class="accordion-navigation panel-accordion-navigation">
        <a href="#{{comp.cid}}" class="comp-link" name="{{comp.cid}}">
            <span class="name">{{comp.name}}</span>
            <span class="name">- type: {{comp.type}}</span>
        </a>
    </li>
</ul>

<h3>{{component.name}}</h3>